In [ ]:
import pandas as pd
data = pd.read_csv("C:/Users/hasan/Documents/DS/Udemy/DL/ANN/annclassification_krish/Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [2]:
df = data.drop(['RowNumber', "CustomerId", "Surname"], axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [4]:
num_feature = [feature for feature in df.columns if df[feature].dtype!="O" and feature != "Exited"]
cat_feature = [feature for feature in df.columns if df[feature].dtype=="O"]

In [5]:
num_feature

['CreditScore',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary']

In [6]:
cat_feature

['Geography', 'Gender']

In [7]:
for feature in cat_feature:
    print(feature)
    print(len(feature)*"-")
    print(df[feature].unique())
    print("")

Geography
---------
['France' 'Spain' 'Germany']

Gender
------
['Female' 'Male']

In [8]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
X = df.drop("Exited", axis=1)
y = df["Exited"]

In [20]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
oh_encoder = OneHotEncoder(drop="first")
scaler = StandardScaler()

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [13]:
num_pipline = Pipeline(
    steps=[
        ("StandardScaler", scaler)
    ]
)

cat_pipline = Pipeline(
    steps=[
        ("OneHotEncoder", oh_encoder)
    ]
)

preprocessor = ColumnTransformer(
    [
        ("num_pipeline", num_pipline, num_feature),
        ("cat_pipline", cat_pipline, cat_feature)
    ]
)

In [14]:
# transformation of train data 
X_train = preprocessor.fit_transform(X_train)

# transformation of train data 
X_test = preprocessor.transform(X_test)

In [15]:
X.shape, X_train.shape, X_test.shape

((10000, 10), (7500, 11), (2500, 11))

In [16]:
X.size, X_train.size, X_test.size

(100000, 82500, 27500)

In [17]:
X_train

array([[ 1.45819074e+00, -8.50398879e-01,  1.02406070e+00, ...,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00],
       [-1.69454906e+00,  1.32442146e+00,  1.71646145e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 9.51685001e-01, -1.32318591e+00,  3.31659957e-01, ...,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+00],
       ...,
       [ 1.30313796e+00,  1.79720849e+00, -3.60740788e-01, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-1.33275924e+00, -4.72169255e-01,  1.37026107e+00, ...,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+00],
       [-6.60863878e-01,  6.17775052e-04,  3.31659957e-01, ...,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00]])

In [18]:
import pickle

In [ ]:
# saving preprocessor object 
with open("artifact/preprocessor.pkl", "wb") as file_obj:
    pickle.dump(preprocessor, file_obj)

In [23]:
import numpy as np

In [24]:
train_data = np.c_[X_train, y_train]
test_data = np.c_[X_test, y_test]

In [26]:
train_data[:, -1], test_data[:, -1]

(array([0., 0., 0., ..., 1., 1., 0.]), array([0., 0., 0., ..., 0., 0., 0.]))

In [ ]:
pd.DataFrame(train_data).to_csv("artifact/train.csv")
pd.DataFrame(test_data).to_csv("artifact/test.csv")