In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv("artifact/train.csv").drop('Unnamed: 0', axis=1)
test_data = pd.read_csv("artifact/test.csv").drop('Unnamed: 0', axis=1)

In [3]:
train_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1.458191,-0.850399,1.024061,-1.226400,0.813269,0.644071,-1.040555,1.740644,0.0,0.0,1.0,0.0
1,-1.694549,1.324421,1.716461,0.206560,-0.907328,-1.552624,0.961026,-0.169748,0.0,0.0,0.0,0.0
2,0.951685,-1.323186,0.331660,-1.226400,0.813269,0.644071,-1.040555,0.521812,0.0,1.0,1.0,0.0
3,-1.053664,-0.472169,0.331660,2.038211,0.813269,0.644071,-1.040555,0.169578,1.0,0.0,1.0,0.0
4,-2.128697,-0.188497,-0.706941,-1.226400,0.813269,0.644071,0.961026,1.398348,0.0,0.0,1.0,0.0

In [4]:
X_train, y_train, X_test, y_test = (train_data.drop("11", axis=1), train_data["11"], 
                                    test_data.drop("11", axis=1), test_data["11"])

In [5]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,10
0,1.458191,-0.850399,1.024061,-1.226400,0.813269,0.644071,-1.040555,1.740644,0.0,0.0,1.0
1,-1.694549,1.324421,1.716461,0.206560,-0.907328,-1.552624,0.961026,-0.169748,0.0,0.0,0.0
2,0.951685,-1.323186,0.331660,-1.226400,0.813269,0.644071,-1.040555,0.521812,0.0,1.0,1.0
3,-1.053664,-0.472169,0.331660,2.038211,0.813269,0.644071,-1.040555,0.169578,1.0,0.0,1.0
4,-2.128697,-0.188497,-0.706941,-1.226400,0.813269,0.644071,0.961026,1.398348,0.0,0.0,1.0

In [6]:
y_train.value_counts()

11
0.0    5984
1.0    1516
Name: count, dtype: int64

In [7]:
import tensorflow as tf

In [8]:
(X_train.shape[1],)

(11,)

In [9]:
model = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(64, "relu", input_shape =(X_train.shape[1],)),
        tf.keras.layers.Dense(32, "relu"),
        tf.keras.layers.Dense(1, "sigmoid")
    ]
)

model.compile(optimizer="adam", loss="mean_absolute_error", metrics="mae")
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                768

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2881 (11.25 KB)
Trainable params: 2881 (11.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [10]:
model.save("artifact/class.h5")

c:\Users\hasan\Documents\DS\Udemy\DL\ANN\evrironment\dlenv\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(