In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv("artifact/train.csv").drop('Unnamed: 0', axis=1)
test_data = pd.read_csv("artifact/test.csv").drop('Unnamed: 0', axis=1)

In [3]:
train_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.668091,-0.560924,-0.003865,0.384829,-0.909157,0.650085,-1.025663,0.0,0.0,1.0,0.0,34215.58
1,-1.364192,0.582911,-1.384072,0.754188,-0.909157,0.650085,0.974980,1.0,0.0,0.0,1.0,41042.40
2,-1.644710,0.868870,0.686239,-1.225087,0.801929,0.650085,-1.025663,0.0,1.0,0.0,0.0,48545.10
3,0.828005,0.010994,-1.039020,0.814164,-0.909157,0.650085,0.974980,0.0,1.0,0.0,0.0,74850.93
4,0.848784,0.296952,1.376343,1.195125,-0.909157,-1.538261,0.974980,0.0,0.0,1.0,0.0,169964.12

In [4]:
X_train, y_train, X_test, y_test = (train_data.drop("11", axis=1), train_data["11"], 
                                    test_data.drop("11", axis=1), test_data["11"])

In [5]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,10
0,-0.668091,-0.560924,-0.003865,0.384829,-0.909157,0.650085,-1.025663,0.0,0.0,1.0,0.0
1,-1.364192,0.582911,-1.384072,0.754188,-0.909157,0.650085,0.974980,1.0,0.0,0.0,1.0
2,-1.644710,0.868870,0.686239,-1.225087,0.801929,0.650085,-1.025663,0.0,1.0,0.0,0.0
3,0.828005,0.010994,-1.039020,0.814164,-0.909157,0.650085,0.974980,0.0,1.0,0.0,0.0
4,0.848784,0.296952,1.376343,1.195125,-0.909157,-1.538261,0.974980,0.0,0.0,1.0,0.0

In [7]:
import tensorflow as tf

In [8]:
(X_train.shape[1],)

(11,)

In [9]:
model = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(64, "relu", input_shape =(X_train.shape[1],)),
        tf.keras.layers.Dense(32, "relu"),
        tf.keras.layers.Dense(1, "sigmoid")
    ]
)

model.compile(optimizer="adam", loss="mean_absolute_error", metrics="mae")
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                768

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2881 (11.25 KB)
Trainable params: 2881 (11.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [12]:
model.save("artifact/reg.h5")